#Title {
    font-size: clamp(1rem, 10vmin, 8rem);
    text-align: center;
    font-weight:  bolder;
    padding: 0px;
    margin:50px;
}
body{
    background-color: #ffc2c2;
    color: #010A43;
}
h1{
    text-align: center;
    font-size: 5vw;
    
}
h2{
    margin:10px
}
.navbar ul{
    list-style-type: none;
    background-color: #FF9D9D;
    margin:0px;
    padding:0px;
    overflow:hidden;
    width:fit-content;
    border-radius: 10px;
    
}

.navbar li a{
    
    text-decoration: none;
    font-size: larger;
    padding:15px;
    display:block;
    text-align:center;

    
}

.navbar a:hover{
    background-color:#FF2E63
}
.navbar li{
    float: left;
}

.row{
   display:flex; 
   flex-direction:row;
   flex-grow: 2;
   justify-content: center;
   column-gap:1vw;
   margin:0px;
}

#projectsBox{
    min-height: 100vh;
    flex-wrap:nowrap;
    display:flex;
    flex-direction: column;
    row-gap:1vw

}
.project{
    
    text-align: center;
    
    background-color: brown;
    border-radius: 10px;
    flex-grow:1;
    max-width: 30vw;
    min-width: 200px;
    min-height: 20vh;
    height:fit-content
}

.project-image{
    max-width:100%
}

